# # ---------------[ UE4 generated ]------------------ #
# /Binaries
# /DerivedDataCache
# /Intermediate
# /Saved
# /Plugins/kbengine_ue4_plugins/Binaries
# /Plugins/kbengine_ue4_plugins/Intermediate

# # ----[ Visual Studio ]------- #
# /.vs
# *.svd
# *.pidb
# *.suo
# # *.sln
#  *.opendb
#  *.sdf

# # -------------[ OS generated ]------------------------ #
# .DS_Store
# .DS_Store?
# ehthumbs.db
# Thumbs.db
# /Server/kbengine_demos_assets-2.5.1/kbengine_unity3d_plugins
# /Server/kbengine_demos_assets-2.5.1/kbengine_ue4_plugins
# /Server/getstarted_assets/kbengine_ue4_plugins
# /Server/getstarted_assets/kbengine_unity3d_plugins
# /Server/kbe/src/.vs
# /Server/server_assets/kbengine_ue4_plugins
# /Server/server_assets/kbengine_unity3d_plugins
*.pyc
# /Server/server_assets/kbengine_ue4_plugins
# /Server/server_assets/kbengine_unity3d_plugins
/Client/Build
# /Server/kbe/src/libs
# /Server/kbe/src/lib
# /Server/kbe/src/.vs
# /Server/kbe/bin
# /Server/kbe/tools/server/guiconsole/guiconsole.log
# /Server/kbe/tools/server/guiconsole/guiconsole.log.1
# /Server/kbe/tools/server/guiconsole/guiconsole.lib
# /Server/kbe/tools/server/guiconsole/python37_d.dll
/Server/server_assets/kbengine_ue4_plugins
/Server/server_assets/kbengine_unity3d_plugins
/Server/consultserver_assets
/Server/gameserver_assets
/Server/kbe/src/.vs
/Server/server_assets/scripts/base/.idea
/Client/Content/ModularRPGHeroesPolyart
/Client/Content/AnimalVarietyPack
/Client/Content/InfinityBladeEffects
/Client/Content/InfinityBladeWeapons

